$body-bg-color: #111;
$main-text-color: #eee;
$secondary-text-color: #d0d0d0;
$connection-color: #0085ff;
$border-color: #373737;
$cards-bg-color: #191d22;
$table-header-gb: #0b1c3b;
$main-blue-color: #0085ff;
$secondary-blue-color: #0a214f;
$menu-hover-color: #555;
$nav-menu-bg-color: #0a214f;

body {
    font-family: "Roboto", sans-serif;
    background-color: $body-bg-color;
    color: $main-text-color;
    overflow-x: hidden;
    overscroll-behavior: auto;
}

button {
    cursor: pointer;
}

.root-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    @include media(desktop) {
        padding-bottom: 0;
    }
}

div.eva.login.logo {
    &:before {
        content: url("../icon.svg");
    }
}

div.eva.login.progress {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
    background-color: #003499;
    box-shadow: 1em 0 0 currentcolor;
    border-radius: 50%;
    animation: loader 1s ease-in-out infinite alternate;

    @keyframes loader {
        0% {
            opacity: 0.1;
            transform: rotate(0deg) scale(0.5);
        }

        100% {
            opacity: 1;
            transform: rotate(360deg) scale(1.2);
        }
    }
}

div.eva.login.header {
    &:before {
        content: "EVA ICS OpCentre";
    }
}

.idc-editor-help-table {
    tr > td {
        padding: 2px;
    }
}

.idc-editor-elements-table {
    tr > td {
        padding: 2px;
    }
}

.idc-editor-sidebar-table {
    tr > td {
        padding: 2px;
    }
}

.idc-editor-sidebar-element-class {
    font-size: 12px;
    padding: 5px;
}

.idc-elements-parameters-wrapper {
    font-size: 12px;
}

.idc-help-link {
    color: blue;
    text-decoration: underline;

    :visited {
        color: blue;
    }
}

.overview-link-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 10px;
}

.overview-button-link {
    color: #fff;
    font-family: "Roboto";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    border: none;
    background-color: #003499;
    width: 124px;
    height: 54px;
    border-radius: 4px;
}

.title-correct {
    padding-left: 0;
    padding-top: 0;
}

.text-overview {
    font-size: 14px;
    display: inline;
}

.text-inline {
    width: 250px;

    @include media(tablet) {
        width: 400px;
    }
}

.text-about {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    @include media(tablet) {
        flex-direction: row;
    }

    a {
        text-decoration: underline;
    }
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-overview {
    padding: 10px;
}

.image-about {
    float: left;
    width: 320px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
}

.mobile-version {
    display: block !important;

    @include media(desktop) {
        display: none !important;
    }
}

.desktop-version {
    display: none !important ;

    @include media(desktop) {
        display: block !important;
    }
}
