//Mui reset styles
.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters {
  &.css-o4b71y-MuiAccordionSummary-content{
    margin: 0;
  }
}

.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded.MuiAccordionSummary-gutters{
  &.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
    min-height: 0;
    padding-top: 5px;
  }
}

.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content{
  margin: 0;
}

.MuiButtonBase-root.MuiAccordionSummary-root.MuiAccordionSummary-gutters.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
  min-height: 0;
  padding: 5px 15px;
}

.MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root{
  padding: 0 10px 5px 10px;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input{
  &.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 3px 6px;
    font-size: 12px;
    background-color: white;
    color: black;
  }
}

.MuiInputBase-input.MuiOutlinedInput-input{
  &.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 3px;
    min-height: 0;
  }
}

.MuiInputBase-input.MuiInput-input{
  &.css-1x51dt5-MuiInputBase-input-MuiInput-input{
    padding: 5px;
    width: 70px;

  }
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedStart{
  &.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: 12px;
  }
}

.MuiInputBase-input.MuiOutlinedInput-input {
  &.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: 12px;
    padding: 7px 5px;

  }
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedStart {
  &.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 8px 5px;
  }
}

.MuiBox-root {
  &.css-ckgivy{
    margin: 0;
  }
  &.css-1lbspf{
    margin: 0;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiColorInput-Button {
  &.css-1wiqpwl-MuiButtonBase-root-MuiButton-root{
    width: 12px;
    height: 15px;

  }
}

.MuiInputBase-colorPrimary {
  background-color: white;
  border-radius: 4px;
}

.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-1rymj6e-MuiFormControl-root-MuiTextField-root{
  padding: 0;
}

.MuiBox-root.css-b5t3p5{
  margin-left: 0;
}

.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-v8nvji-MuiFormControl-root-MuiTextField-root{
  padding: 0;
}

.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.PrivateSwitchBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.idc-editor-checkbox.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  padding-left: 0;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  fill:black;
}

.MuiInputBase-input.MuiInput-input.MuiInputBase-inputTypeSearch.MuiAutocomplete-input.MuiAutocomplete-inputFocused.css-c63i49-MuiInputBase-input-MuiInput-input{
  padding: 6px;
}

