$body-bg-color: #111;
$main-text-color: #eee;
$secondary-text-color: #d0d0d0;
$connection-color: #0085ff;
$border-color: #373737;
$cards-bg-color: #191d22;
$table-header-gb: #0b1c3b;
$main-blue-color: #0085ff;
$secondary-blue-color: #0a214f;
$menu-hover-color: #555;
$nav-menu-bg-color: #0a214f;