/**
 * BMAT Dashtable Styles
 *
 * This stylesheet defines the visual presentation and behavior of the BMAT dashtable components
 * used in the application. It includes styles for various elements such as filters, buttons,
 * table rows, and columns to enhance the user interface and user experience.
 */

.bmat-dashtable-filter-label-off {
  color: #555;
  text-decoration: line-through;
  border: 1px solid #555;
}

.bmat-dashtable-filter-label-button {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 4px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.bmat-dashtable-filter > div > label > input {
  margin: 0 5px 10px 5px;

  @include media(tablet) {
    margin: 0 5px 0 5px;
  }
}

.bmat-dashtable-col:hover .bmat-dashtable-filter-button-add {
  visibility: visible;
}

.bmat-dashtable-filter-button-add {
  display: inline-block;
  width: 5px;
  margin-left: 2px;
  color: #117711;
  cursor: pointer;
  visibility: hidden;
}

.bmat-dashtable-filter-button-remove {
  display: inline-block;
  color: #ee2222;
  cursor: pointer;
}

.bmat-dashtable-filter-label-container {
  display: inline-block;
}

.bmat-dashtable-filter-spacer {
  display: inline-block;
  width: 14px;
}

.bmat-dashtable-title {
  @media print {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
}

.bmat-dashtable-container {
  background-color: $cards-bg-color;
  color: $main-text-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.bmat-dashtable {
  border: 0.5px solid $border-color;

  & button {
    background-color: $connection-color;
  }

  & button.btn-delete {
    background-color: #aa0000;
  }
}

.bmat-dashtable-row-even {
  background-color: #191d22;
}

.bmat-dashtable-row-odd {
  background-color: #121721;
}

.bmat-dashtable-filter {
  > div {
    padding: 5px;
  }
  @media print {
    display: none;
  }
}

.bmat-dashtable {
  @media print {
    color: black;
    border-collapse: collapse;
    border: 1px solid black;
    tbody > tr {
      padding: 0px;
      border: 1px solid black;
    }
    thead > tr {
      padding: 0px;
      border: 2px solid black;
    }
    thead > tr > th {
      text-align: left;
      font-size: 14px;
      padding: 10px;
    }
    tbody > tr > td {
      padding: 10px;
    }
  }
}

.bmat-dashtable-filter-label {
  cursor: pointer;
  user-select: none;
  border: 1px solid #999;
  padding: 2px;
  background-color: #222;
  border-radius: 4px;
}

.button-bar {
  padding-top: 10px;
  padding-left: 20px;
  @media print {
    display: none;
  }
}

.never-wrap {
  white-space: nowrap;
  @media print {
    white-space: nowrap;
  }
}

th {
  background-color: $table-header-gb;
}

td {
  padding: 7px;
  font-size: 10px;

  @media print {
    white-space: normal;
  }
  white-space: nowrap;

  @include media(tablet) {
    font-size: 14px;
    padding: 10px;
  }
}

td.col-fit {
  width: 1%;
  white-space: nowrap;
}

td.col-uptime {
  width: 150px;
  white-space: nowrap;
  @media print {
    white-space: normal;
  }
}

td.col-time {
  width: 230px;
  white-space: nowrap;
  @media print {
    white-space: normal;
  }
}


