/**
 * Data Object Component Styles
 *
 * This stylesheet defines the appearance and layout of data object  components
 * within the application, including tables, views, fields, language selectors, and error messages.
 * Responsive and print-specific styles are applied to ensure usability across different devices
 * and media types.
 */

.table-dobj {
    .bmat-dashtable-container-inner {
        @include media(tablet) {
            width: 650px;
            overflow-x: auto;
        }
    }
}

.dobj-view-container {
    @include media(tablet) {
        max-width: 650px;
    }
}

.dobj-field-type {
    @include media(tablet) {
        width: 120px;
    }
    @media print {
        width: 120px;
    }
}

.dobj-lang-select {
    margin-top: 10px;
}

.dobj-lang-select-label {
    display: inline;
    margin-right: 5px;
}

.dobj-field-row {
    background-color: #14181d;
}

.dobj-close-button {
    @media print {
        display: none;
    }
    background-color: #222;
    float: right;
    border: 0px;
    color: #eee;
    cursor: pointer;
}

.info-table {
    border: 0.5px solid $border-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 0.8;
    letter-spacing: 0.12px;
    @media print {
        color: black;
    }
}

.eva-error {
    color: #ee5555;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
    a {
        text-decoration: underline;
    }
    a:hover {
        color: orange;
    }
}
