/**
 * IDC Editor Interface Styles
 *
 * Defines the styles for the IDC (Integrated Development Environment) editor components,
 * focusing on tables, sidebars, buttons, and links. The styles aim to create a consistent,
 * user-friendly interface with clear, accessible elements.
 */

.idc-editor-help-table {
    tr > td {
        padding: 2px;
    }
}

.idc-editor-elements-table {
    tr > td {
        padding: 2px;
    }
}

.idc-editor-sidebar-table {
    tr > td {
        padding: 2px;
    }
}

.idc-editor-sidebar-element-class {
    font-size: 12px;
    padding: 5px;
}

.idc-elements-parameters-wrapper {
    font-size: 12px;
}

.idc-help-link {
    color: blue;
    text-decoration: underline;

    :visited {
        color: blue;
    }
}

.d-idc-preparing {
    padding: 20px;
}

.idc-dashboard-viewer-close-button {
    @media print {
        display: none;
    }
}

.idc-dashboard-loading {
    padding: 20px;
}

.idc-btns-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.idc-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border: none;
    padding: 2.5px 5px;
    svg {
        display: block;
    }
}

.btn-with-text {
    flex-direction: row-reverse;
    gap: 5px;
}

.btn-correct {
    margin-left: 35px;
    @include media(tablet) {
        margin-left: 0;
    }
}
