.item-watch {
  @include media(tablet) {
    padding-left: 20px;
  }
  @media print {
    padding-bottom: 10px;
  }
}

.item-watch-container {
  @media print {
    display: block;
    border: 0px;
    overflow: visible;
  }
  display: inline-block;
  width: 300px;
  margin-right: 10px;
  margin-top: 10px;
  @include media(tablet) {
    width: 370px;
  }
  @include media(desktop) {
    width: 390px;
  }
  border: 1px solid #555;
  padding: 5px 5px 5px 5px;
  position: relative;
}

.item-watch-chart-title {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-watch-chart-state {
  margin-top: 5px;
  width: 100%;
  text-align: left;
  display: block;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-watch-chart-close-button {
  @media print {
    display: none;
  }
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #222;
  border: 0px;
  color: #eee;
  cursor: pointer;
}
